body{
    background-color: rgb(15, 15, 15);
}
#titulo-principal{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
#juego{
    background-color: rgb(176, 103, 218);
    width: 700px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    padding-top: 15px;
}
.fila{
    position: relative;
    display: flex;
    height: 45px;
    width: 500px;
    margin-left: 115px;
    margin-right: 100px;
}
#fila-par{
    right: 20px;
}
.casillas{
    position: relative;
    display: flex;
    background-color: #0080c5;
    width: 40px;
    height: 40px;
    margin: 1px;
    border-style: solid;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
}
.casillas:hover{
    background-color: #014366; 
}
#gato-img
{
    height: 35px;
    width: 35px;
    margin: auto;
}